sentencepiece
torch
pandas
matplotlib
sklearn
wandb
datasets
numpy
wandb
deepspeed
flask
flask_cors
daal
fire
tokenizers
git+https://github.com/huggingface/transformers@c612628045822f909020f7eb6784c79700813eda
