torch
transformers==4.28.0.dev0
pandas
matplotlib
sklearn
wandb
datasets
sentencepiece
numpy==1.18
datasets==2.10.1
git+https://github.com/huggingface/peft.git@deff03f2c251534fffd2511fc2d440e84cc54b1b
torch==2.0.0
wandb==0.14.0
deepspeed==0.8.3
git+https://github.com/lvwerra/trl.git#egg=trl-0.4.1
sentencepiece
git+https://github.com/huggingface/transformers@c612628045822f909020f7eb6784c79700813eda
flask
flask_cors
daal==2021.4.0
fire
tokenizers==0.12.1
wandb
